.accordion-checkbox {
  display: none;
}
.accordion-title-label {
  cursor: pointer;
  background: #697060;
  display: block;
}
.accordion-title-label:hover {
  color: #eb9c4d;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  background-color: #eb9c4d;

  transition: max-height 0.5s ease-in-out;
}

.accordion-checkbox:checked + label {
  border: 1px solid #eb9c4d;
  color: #eb9c4d;
}

.accordion-checkbox:checked ~ .accordion-content {
  max-height: 200px;
}
