.productFilter_mainDiv {
  width: 550px;
  border: 1px solid #baab6a;
  background-color: #204b5e;
  text-align: right;
  color: #fdfac7;
}
.productFilter_header {
  background-color: #fbea80;
  color: #204b5e;
  font-weight: bold;
  text-align: center;
}

.productFilter_header > td {
  width: 110px;
  padding: 0 10px;
}

.productFilter_rows:nth-child(even) {
  background-color: #426b65;
}

.productFilter_rows:hover {
  background-color: #baab6a;
  color: #204b5e;
}

.productFilter_rows > td:last-child {
  text-align: center;
}

.productFilter_toolbar {
  height: 30px;
  width: 550px;
  display: flex;
  flex-direction: row;
  background-color: #204b5e;
}

/* Override global button styles */
.productFilter_toolbar button {
  border-radius: 0px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.productFilter_toolbar button:hover {
  border-color: #fbea80;
  color: #fdfac7;
}
/* End Override global button styles */

.productFilter_dropdown {
  width: 110px;
  z-index: 1000;
}

.productFilter_dropdown > button {
  width: 100%;
  padding: 5px 0;
}
.productFilter_menu {
  list-style-type: none;
  padding: 0;
}

.productFilter_menu-item > button {
  width: 110px;
}
