#root {
  width: 100%;
  height: 100vh;
}

.layout {
  display: grid;
  gap: 20px;
  grid-template-areas:
    'header header'
    'sidebar content';
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  grid-area: header;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
}
